

<div class="container">
  <div class="row">
    <div class="sidebar col-2">
      <h3>Alten Shop</h3>
      <p-button label="Products" icon="pi pi-shopping-cart"  [rounded]="true" [outlined]="true" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></p-button>
      <p-button label="Admin" icon="pi pi-users"  [rounded]="true" [outlined]="true" routerLink="/admin/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></p-button>
    </div>
    
    <div class="content col-10">
      <div class="header">
        <p-breadcrumb [model]="breadcrumb"></p-breadcrumb>
      </div>

      <router-outlet />
    </div>
  </div>

</div>

